@use "../base/global" as *;

.aboutUsWrapper{
    h2{font-family: $libreFranklin; font-weight: 700; @include font48; line-height: 120%; letter-spacing: 2px; margin-bottom: 30px; width: 70%;}
    p{@include font24; font-family: $libreFranklin; line-height: 140%; color: $colorGrey;}

    @media all and (max-width: 1800px){
        h2{width: 70%;}
    }
    @media all and (max-width: 1600px){
        h2{margin-bottom: 26px;}
    }
    @media all and (max-width: 720px){
        h2{width: 100%; margin-bottom: 20px;}
    }
}