@use "../base/global" as *;

.expWrapper{padding-top: 60px; height: 75vh; overflow-y: auto;
    h1{font-family: $libreFranklin; font-weight: 700;  line-height: 100%; letter-spacing: 2px; margin-bottom: 50px; @include font48;}
    .expDetails{
        .innerBox{margin-bottom: 30px;
            h2{margin-bottom: 15px;font-family: $libreFranklin; line-height: 100%;  @include font24;}
            .detailBox{ padding-left: 20px;
                h5{margin-bottom: 5px; font-family: $libreFranklin; font-weight: 700; line-height: 100%; @include font24;}
                p{font-family: $libreFranklin; color: $colorGrey; @include font20;}
            }
        }
    }
}