@use '../base/global' as *;

.bannerSec{background: $colorBlack; height: 100vh; margin-bottom: 60px;
    .wrapperSec{@include wrapper; height: 100%;
        .bannerHeading{display: flex; align-items: center; justify-content: center;flex-flow: column; width: 100%; height: 100%;
            h1{font-family: $fontleagueGothic; @include font96; line-height: 120%; font-weight: $fontW400; color: $colorWhite; margin-bottom: 4px;}
            p{font-family: $fontLeagueSpartan; font-weight: $fontW400; @include font32; letter-spacing: 11.52px; line-height: 90%; text-transform: uppercase; color: #fff;}
        }
    }
}
.aboutUsSec{margin-bottom: 60px; 
    .wrapperSec{@include wrapper; width: 50%; margin: 0 auto;
        .secAboutContent{margin-bottom: 60px;
            h2{font-family: $fontLeagueSpartan; @include font32; font-weight: $fontW700; line-height: 90%; color: $colorBlack; margin-bottom: 20px;}
            p{font-family: $fontRoboto; font-weight: $fontW400; @include font16; line-height: 120%; text-align: justify;}
        }
        .secMySkillContent{
            h2{font-family: $fontLeagueSpartan; @include font32; font-weight: $fontW700; line-height: 90%; color: $colorBlack; margin-bottom: 20px;}
            .skillBox{display: flex; align-items: center; gap: 20px;}
        }
    }
}