@use "../base/global" as *;

.homepageWrapper{
    h2{margin: 26px 0; font-family: $libreFranklin; font-weight: 700; @include font48; line-height: 120%; letter-spacing: 2px; width: 58%;}
    p{font-family: $libreFranklin; font-weight: 400; @include font24; line-height: 120%; color: #7D7373; margin-bottom: 30px;
        &:last-child{margin: 0;}
    }
    .projectDetails{
        ul{display: flex; align-items: center; gap: 20px;
            li{width: calc(17% - 17px);
                h3{font-family: $libreFranklin; font-weight: 400; @include font60;}
                p{font-family: $libreFranklin; font-weight: 400; @include font20; }
            }
        }
    }

    @media all and (max-width: 1800px){
        h2{margin: 24px 0 ;}
    }
    @media all and (max-width: 1440px){
        h2{margin: 20px 0;}
        p{margin-bottom: 25px;}
        .projectDetails{
            ul{gap: 15px;
                li{width: calc(15% - 15px);}
            }
        }
    }
    @media all and (max-width: 1024px){
        h2{width: 100%; margin: 20px 0 25px;}
        p{margin-bottom: 30px; letter-spacing: 0.85px;}
    }
}