@use "../base/global" as *;

.mainContainer{width: 100%; height: 100vh;     
    .wrapper{padding: 100px 0; display: flex; align-items: center; justify-content: space-between; gap: 60px;@include wrapper; 
        .profileSection{flex-basis: 25%;}
        .mainContent{flex-basis: 65%;}
        .sidebarSection{flex-basis: 10%;}
    }
}