@use "../base/global" as *;

.skillWrapper{
    .techSkillBox{display: flex; align-items: center; flex-flow: wrap; gap: 20px;
        .iconBox{width: calc(20% - 16px ); display: flex; align-items: center; flex-flow: column; gap: 10px; 
            .imgBox{ border: 1px solid $colorGrey; border-radius: 65px; padding: 36px 15px; cursor: pointer; transition: 0.5s all ease-in-out;
                img{width: 75px;}
            }
            p{transition: 0.5s all ease-in-out; font-family: $libreFranklin; line-height: 100%; @include font20;}
            &:hover{
                .imgBox{border: 1px solid $colorOrange;}
                p{color: $colorOrange;}
            }
        }
    }
    @media all and (max-width: 1800px){
        .techSkillBox{
            .iconBox{
                .imgBox{padding: 34px 14px;
                    img{width: 70px;}
                }
            }
        }
    }
    @media all and (max-width: 1600px){
        .techSkillBox{
            .iconBox{
                .imgBox{padding: 30px 12px;
                    img{width: 60px;}
                }
            }
        }
        
    }
}