@use "../base/global" as *;

.profileWrapper{border: 1px solid rgba(100%, 100%, 100%, 0.2); border-radius: 20px; padding:30px; display: inline-flex; align-items: center; flex-flow: column; width: 100%; gap: 20px;
    .imgBox{overflow: hidden; border-radius: 20px; position:relative; width: 100%;
        img{width: 100%;}
        &::after{content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0%, 0%, 0%, 0.3);}
    }
    .detailsBox{display: flex; align-items: center; justify-content: center; flex-flow: column; width: 100%;
        .mainName{font-family: $libreFranklin; line-height: 140%; letter-spacing: 1px; @include font32;}
        .jobTxtBox{margin-bottom: 22px; text-align: center;
            p{line-height: 120%; font-weight: 500; @include font24; font-family: $libreFranklin;  margin: 5px 0;}
            h5{ font-weight: 400; line-height: 120%; font-family: $libreFranklin; @include font20; color: $colorGrey; }
        }
        .socials{display: flex; gap: 26px; align-items: center; justify-content: center; margin-bottom: 60px;
           li{transform: translateY(0); transition: 0.4s all ease-in-out;
                a{ 
                    svg{color: #fff; width: 40px; height: 40px;}
                }
                &:hover{transform: translateY(-5px);
                }
           }
        }
        a{width: 100%;
            .btnHire{background: $colorOrange; color: #1d1c1d; font-family: $libreFranklin; font-weight: 400; @include font28; line-height: 170%; letter-spacing: 0.56px; width: 100%; border-radius: 18px; cursor: pointer; transition: background 0.5s ease-in-out;
                &:hover{background: #e65100;}
            }
        }
    }

    @media all and (max-width: 1800px){padding: 28px;}
    @media all and (max-width: 1600px){padding: 26px;
        .detailsBox{
            .jobTxtBox{margin-bottom: 20px;}
            .socials {margin-bottom: 50px; gap: 24px;
                li{ 
                    a{ 
                        svg{width: 35px; height: 35px;}
                    }
                }
            }
        }
    }
    @media all and (max-width: 1440px){padding: 24px;
        .detailsBox{
            .socials {margin-bottom: 40px; gap: 20px;
                 li{
                    a{ 
                        svg{width: 30px; height: 30px;}
                    }
                 }
            }
        }
    }
    @media all and (max-width: 1280px){padding: 20px;
        .detailsBox{
            .socials {margin-bottom: 35px; gap: 16px;}
        }
    }
    @media all and (max-width: 1024px){padding: 30px; display: flex; align-items: center; justify-content: space-around; flex-flow: nowrap;
        .imgBox{height: 400px; width: 400px;}
        .detailsBox{width: calc(100% - 460px);
            .mainName{@include font60;}
            .jobTxtBox{
                p{@include font32; margin: 8px 0;}
                h5{@include font28;}
            }
            .socials {margin-bottom: 30px; gap: 26px;}
            a{width: 75%;
                .btnHire{width: 100%; padding: 10px;}
            }
        }
    }

    @media all and (max-width: 820px){padding: 25px;
        .imgBox{margin:0; height: 300px; width: 300px;}
        .detailsBox{width: calc(100% - 350px);
            .jobTxtBox{margin-bottom: 20px;
                p{margin: 5px 0;}
            }
            a{width: 100%;
                .btnHire{width: 100%; padding: 10px;}
            }
        }
    }
    @media all and (max-width: 720px){padding: 20px;flex-flow: column;
         .imgBox{margin:0; height: 250px; width: 250px;}
         .detailsBox{width: 100%;}
    }
}