@use '../base/global' as *;

.sidebarWrapper{padding: 35px 12px; border: 1px solid rgba(100%, 100%, 100%, 0.2); border-radius: 40px;
    nav{
        .navIcons{display: flex; flex-flow: column; gap: 32px; align-items: center;
            li{cursor: pointer;
                a{display: block;
                    svg{transition: 4s all ease-in-out;}
                }
                &:hover{
                    svg{
                        path{fill : $colorOrange;}
                    }
                }
            }
        }
    }
}